{% extends "base.html" %}
{% block content %}
<div class="card" style="background:#0f172a; color:white; padding:20px;">
<h2 style="color:white;">Edit Demo License</h2>

<form method="POST">
{% csrf_token %}
<label>Demo Login Limit</label>
<input type="number" name="demo_login_limit" value="{{ demo.demo_login_limit }}" class="form-control">

<label class="mt-2">
<input type="checkbox" name="status" {% if demo.status %}checked{% endif %}> Active
</label>

<button class="btn btn-success mt-3">Update</button>
</form>
</div>
{% endblock %}
