# Django and core dependencies
Django==5.2.8
django-dotenv==1.4.2
python-dotenv==1.2.1
pillow==12.0.0

# Cloudflare R2 / S3 storage
django-storages==1.14.6
boto3==1.41.3

# Database
sqlparse==0.5.3

# Timezone data
tzdata==2025.2
