{% extends 'base.html' %}
{% block content %}
<h2>Add Store</h2>

<form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label>Store Name</label>
    <input type="text" name="name" class="form-control" required>
  </div>

  <div class="mb-3">
    <label>Branch</label>
    <select name="branch" class="form-control" required>
      <option value="">Select Branch</option>
      {% for branch in branches %}
      <option value="{{ branch.id }}">{{ branch.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label>Place</label>
    <input type="text" name="place" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
