{% extends "base.html" %}

{% block header_title %}
<strong>Add Module</strong>
{% endblock %}

{% block content %}

<div class="card" style="max-width:600px; margin:auto;">

    <h2 style="margin-bottom:15px;color: white;">Add New Module</h2>

    {% if messages %}
        {% for message in messages %}
        <div style="background:#1e293b; padding:10px; border-radius:8px; margin-bottom:10px;">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'ModuleAndPackage:add_module' %}">
        {% csrf_token %}

        <div class="mb-3">
            <label>Project Name</label>
           <select name="project" class="form-control" required
                style="background:#0f1b31; color:white; border:1px solid #334155;">
            <option value="" style="background:#0f1b31; color:white;">-- Select Project --</option>

            {% for p in projects %}
            <option value="{{ p.id }}" style="background:#0f1b31; color:white;">
                {{ p.project_name }}
            </option>
            {% endfor %}
        </select>

        </div>

        <div class="mb-3">
            <label>Module Name</label>
            <input type="text" name="module_name" class="form-control"
                placeholder="Enter module name" required
                style="background:#0f1b31; color:white; border:1px solid #334155;">
        </div>


        <button class="btn" style="background:#16a34a; color:white;">Save</button>

        <a href="{% url 'ModuleAndPackage:module_list' %}"
           class="btn" style="background:#1e293b;">
           Cancel
        </a>
    </form>

</div>

{% endblock %}
