{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Edit Module</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Module Name</label>
            <input type="text" name="module_name" class="form-control" value="{{ module.module_name }}" required>
        </div>

        <button class="btn btn-primary">Update</button>
        <a href="{% url 'ModuleAndPackage:module_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
