{% extends 'base.html' %}
{% block content %}

<div class="card" style="padding:20px;">
    <h2 style="color:white;">Add New Branch</h2>

    <form method="POST">
        {% csrf_token %}

        <!-- Branch Name -->
        <div class="mb-3">
            <label>Branch Name</label>
            <input type="text" name="name" required class="form-control"
                   style="background:#0f1b31; color:white; border:1px solid #334155;">
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

{% endblock %}
